@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(207, 238, 207); */
  /* background-image: linear-gradient(
    to bottom right,
    rgb(238, 192, 192),
    rgb(157, 228, 157)
  ); */

  background-image: url("5570875.jpg");
  color: rgb(8, 8, 77);
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #2a77af;
  height: 0.3rem;
  border-radius: 2px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #011624;
  height: 0.3rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  background-color: #131579;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.block {
  display: block;
}
